body {
	height: 100%;
	width: 100%;
}

h3 {
	color: #446778;
}

.editarea {
	padding-right: 200px;
}

div.center {
	margin: 0px auto;
}

p.plandescription {
	font-size: 2em;
}

.plandescription:hover{
	color: #446778;	
}

.description {
	color:  #58A4B0;
	font-size: 1.6em;
}

.description a:hover {
	color: #446778;	
}
